# Java
*.class

# IntelliJ
.idea/

# VS Code
.vscode/

# Eclipse
.project
.classpath
.settings/

# Maven
target/

# Gradle
build/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Temporary
tmp/

*.iml


# Environment files
.env

# Certificates
*.pem
*.key
*.p12
*.jks